<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <meta charset="utf-8">
    <title>TopSecret</title>
  </head>
    <body onload="disable()">

<section id="nav">
  <ul>
  <% if session[:user] == nil %>
  <li> <a href="/login" title="Log In"><i class="fas fa-sign-in-alt"></i></a><p class="btnText">Sign In</p></li><br>
  <li> <a href="/signup" title="Sign Up"><i class="fas fa-user-plus"></i></a></li><br>
  <li> <a href="/siteinfo" title="Information"><i class="fas fa-info-circle"></i></i></a></li><br>

  <% elsif session[:user] != nil %>
  <li> <a href="/personal/<%=session[:user].id%>" title="<%= session[:user].user_name.capitalize%>'s Session"><i class="fas fa-user-circle"></i></a></li><br>
  <li> <a href="/feed" title="Your Timeline"><i class="fas fa-users"></i></a></li><br>
  <li> <a href="/personalposts" title="Your Posts"><i class="fas fa-comments"></i></a></li><br>
  <li> <a href="/passcode" title="Super Events!"><i class="fas fa-calendar-alt"></i></a></li><br>
  <li> <a href="/logout" title="Log Out"><i class="fas fa-sign-out-alt"></i></a><p class="btnText">Log Out</p></li><br>

</ul>
<% end %>
</section>
<section id="mainContent">
 <%= yield %>
</section>
 <footer> <p>Created 2018 by Vents LLC</p> </footer>
  </body>
  <script src="/main.js">

  </script>
</html>
