<h2>Welcome to TopSecret</h2>
<div id="login">
  <form action="/login" method="post">
    <input type="text" name="email" placeholder="Email"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <input type="submit" value="Log In"><br>
    <p>New to our service? Click <a href="/signup"> here </a> to sign up. </p>
  </form>
</div>
