<div class="signInForms">


<h2>Welcome to TopSecret</h2>
<div class="formBox">
  <form action="/login" method="post">
    <input type="text" name="email" placeholder="Email" required><br>
    <input type="password" name="log_in_password" placeholder="Password" required><br>
    <input type="submit" value="Log In"><br>
  </form>
  <p>New to our service? Click <a href="/signup"> here </a> to sign up. </p>
</div>


</div>
