<% if session[:user] == nil %>
<div class="signInForms">
<h2>404!</h2>
<div class="formBox">
  <p>I'm sorry but you will have to log in!</p>
</div>
</div>
  <% elsif session[:user] != nil %>

<div id="container">

<form id="passcode" action="/supernews" method="get">
  <div id="passField"></div>
  <button type="button" onclick="update(1)" class="btns" id="one">1</button>
  <button type="button" onclick="update(2)" class="btns" id="two">2</button>
  <button type="button" onclick="update(3)" class="btns" id="three">3</button>
  <button type="button" onclick="update(4)" class="btns" id="four">4</button>
  <button type="button" onclick="update(5)" class="btns" id="five">5</button>
  <button type="button" onclick="update(6)" class="btns" id="six">6</button>
  <button type="button" onclick="update(7)" class="btns" id="seven">7</button>
  <button type="button" onclick="update(8)" class="btns" id="eight">8</button>
  <button type="button" onclick="update(9)" class="btns" id="nine">9</button>
  <button type="button" onclick="update(0)" class="btns" id="zero">0</button>
  <button type="button" onclick="enterField()" class="btns" id="clear">Check Code</button>
  <input id="enter" type="submit" class="btns" value="Enter Site"></input>
</form>


</div>
<%end%>
