<h2>Sign Up</h2>
<form action="/signup" method="post">
  <input type="text" placeholder="Username" name="name"><br>
  <input type="email" name="email" placeholder="Email"><br>
  <input type="password" name="password" placeholder="Create A Password"><br>
  <input type="submit" value="Sign Up">
</form>
<p>Already have an account? Click <a href="/login"> here </a> to log in. </p>
