<div class="signInForms">
  <h2>Site Information</h2>
  <div class="formBox">
<p id="infoText"></p>
<button type="button" onclick="changeText(1)">Site Info</button>
<button type="button" onclick="changeText(2)">Site Creator</button>

</div>

    </div>
