<div class="signInForms">
  <h2>Site Information</h2>
  <div class="formBox">
<p id="infoText">Welcome to Top Secret! We are heroes from Universe <i>616</i>. Though we do appreciate heroes from any universe to join us. Sign up, and sign in and post to our feed and if you can figure out the combination, join us on our events.</p>
<button type="button" onclick="changeText(1)">Site Info</button>
<button type="button" onclick="changeText(2)">Site Creator</button>

</div>

    </div>
