:root {
  --inactive: rgb(87, 87, 87);
  --background: rgba(186, 58, 255, 0.8);
  --shadow: 4px 4px 8px rgb(229, 165, 255);
  --backgroundImage: url("metalbackground.jpg");
  --introshadow: 4px 4px 8px black;
  --linkColor: rgb(250, 39, 66);
  --stanBorder: 2px solid black;
  --textShadow: 2px 2px 8px black;
  --font: 'Press Start 2P', cursive;
}

/* Layout */

html {
  padding: 1%;
  color: rgb(16, 19, 121);
  background-image: url("bluebackground.jpg");
  font-family: var(--font);
}

html a {
  text-decoration: none;
  color: var(--linkColor);
}

#nav {
  background-color: black;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  opacity: .8;
}

#nav i {
  color: var(--inactive);
  font-size: 5vh;
  margin-bottom: 1%;
}

#nav button {
  color: var(--inactive);
  font-size: 5vh;
  margin-bottom: 1%;
  background-color: black;
  border-width: 0;
}

#nav i:hover {
  color: white;
}

#nav ul {
  list-style-type: none;
}

.btnText {
  font-size: 0.75vw;
  color: var(--inactive);
  padding-right: 0.1%;
}

#mainContent {
  padding-bottom: 100%;
}

footer {
  color: var(--inactive);
  background-color: black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5%;
  text-indent: 5%;
  opacity: .8;
}

/* Personal Page */

.personalGrid {
  display: grid;
  grid-template: 15% 70% 15% / 45% 45%;
  grid-gap: 2%;
}

#personalHeader {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  text-align: center;
  background-color: var(--background);
  color: white;
  background-image: var(--backgroundImage);
  text-shadow: var(--textShadow);
  background-repeat: repeat;
  background-size: cover;
  border-radius: 100px;
  width: 90%;
  margin-left: 5%;
  box-shadow: var(--shadow);
}

#userInfo {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  height: 40vh;
  padding-left: 1%;
  height: inherit;
  background-color: var(--background);
  box-shadow: var(--shadow);
  text-align: center;
  padding-top: 5%;
}

#userInfo img {
  border: var(--stanBorder);
  width: 20%;
}

#userInfo form p {
  font-size: 2vh;
}

#postCreator {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  padding-left: 1%;
  background-color: var(--background);
  box-shadow: var(--shadow);
}

#postCreator p {
  text-align: center;
}

.personalGrid a {
  grid-row: 3 / 4;
  grid-column: 1 / 2;
}

#postCreator input[type="submit"] {
  position: relative;
  left: 80%;
  margin-bottom: 1%;
}

#postCreator input[type="text"] {
  margin-bottom: 2%;
  margin-top: 2%;
  font-size: 2vh;
}

#contentBox {
  height: 40vh;
  width: 40vw;
}

/* Feed Pages */

#searchBtn {
  text-decoration: none;
  font-size: 3vh;
  border: 0;
  color: var(--linkColor);
  background-color: rgba(87, 87, 87, 0);
  font-family: var(--font);
}

section form input[type="search"] {
  width: 33vh;
  text-align: center;
}

.feedGrid-columns {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 1% 4%;
  margin-right: 4%;
}

.feedGrid-rows {
  display: grid;
  width: 100%;
  grid-template-rows: auto;
  padding-left: 2%;
  padding-bottom: 2%;
  margin-top: 4%;
  margin-bottom: 4%;
  background-color: var(--background);
  box-shadow: var(--shadow);
}

.feedGrid-rows img {
  width: 50%;
}

.feedHeader {
  grid-column: 1 / 3;
  width: 100%;
  padding-bottom: 2%;
  margin-left: 5%;
  padding-left: 1%;
  background-color: var(--background);
  box-shadow: var(--shadow);
  text-align: center;
  color: white;
  background-image: var(--backgroundImage);
  text-shadow: var(--textShadow);
  background-repeat: repeat;
  background-size: cover;
  border-radius: 100px;
  width: 90%;
}

/* Events Page */

.events-columns {
  display: grid;
  grid-template-columns: 45% 45%;
  grid-gap: 1% 4%;
  margin-right: 4%;
}

.events-rows {
  display: grid;
  width: 100%;
  grid-template-rows: auto;
  padding-left: 2%;
  padding-bottom: 2%;
  margin-top: 4%;
  margin-bottom: 4%;
  background-color: var(--background);
  box-shadow: var(--shadow);
}

.events-rows img {
  width: 50%;
}

.eventsHeader {
  grid-column: 1 / 3;
  width: 100%;
  padding-bottom: 2%;
  margin-left: 5%;
  padding-left: 1%;
  background-color: var(--background);
  box-shadow: var(--shadow);
  text-align: center;
  color: white;
  background-image: var(--backgroundImage);
  text-shadow: var(--textShadow);
  background-repeat: repeat;
  background-size: cover;
  border-radius: 100px;
  width: 90%;
}

/* Form Pages */

.signInForms {
  display: grid;
  grid-template: 17vh 47vh 22vh / 28% 32% 12%;
}

.signInForms h2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: var(--background);
  box-shadow: var(--shadow);
  text-align: center;
  padding-top: 7%;
  color: white;
  background-image: var(--backgroundImage);
  text-shadow: var(--textShadow);
  background-repeat: repeat;
  background-size: cover;
  border-radius: 100px;
  width: 90%;
  margin-left: 5%;
  font-size: 3vh;
}

.formBox {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: var(--background);
  box-shadow: var(--shadow);
  padding-left: 9%;
  padding-right: 3%;
  padding-top: 6%;
}

.formBox input {
  margin-bottom: 1.5%;
}

.formBox button {
  position: relative;
}

/* Passcode Screen */

#container {
  display: grid;
  grid-template: 17vh 60vh 22vh / 35% 32% 12%
}

#passcode {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  display: grid;
  grid-template: 19% 19% 19% 19% 19% / 24% 24% 24% 24%;
  grid-template-areas: ". pf pf ." "one two three four" "five six seven eight" "nine zer smt clr";
  background-image: var(--backgroundImage);
  background-size: cover;
  border-radius: 8px;
  box-shadow: var(--introshadow);
}

.btns {
  width: 80%;
  height: 80%;
  border-radius: 8px;
  margin-left: 15%;
  margin-top: 50%;
  box-shadow: var(--introshadow);
}

#passcode button {
  color: gold;
  background-color: black;
  font-size: 2vh;
}

#passcode input {
  color: gold;
  background-color: black;
  font-size: 1.75vh;
}

#passField {
  grid-area: pf;
  margin-left: 10%;
  margin-top: 15%;
  padding-top: 7%;
  padding-left: 9%;
  border: var(--stanBorder);
  background-color: white;
  font-size: 1.5vh;
}

#one {
  grid-area: one;
}

#two {
  grid-area: two;
}

#three {
  grid-area: three;
}

#four {
  grid-area: four;
}

#five {
  grid-area: five;
}

#six {
  grid-area: six;
}

#seven {
  grid-area: seven;
}

#eight {
  grid-area: eight;
}

#nine {
  grid-area: nine;
}

#zero {
  grid-area: zer;
}

#enter {
  grid-area: smt;
}

#clear {
  grid-area: clr;
}

@media screen and (max-width: 375px) {

/* Layout */

  #nav {
    right: -3vw;
    width: 20%;
  }

  #nav ul {
    padding-left: 25%;
    padding-right: 5%;
    list-style-type: none;
  }

  .btnText {
    font-size: 0.75vw;
    color: var(--inactive);
    padding-right: 0.1%;
  }

  #mainContent {
    padding-bottom: 10%;
  }

  footer {
    bottom: -1px;
    height: 10%;
    padding-left: 5%;
  }

  /* Personal Page */

  .personalGrid {
    grid-template: 0% 50% 0% / 72%;
    padding-left: 12%;
    padding-bottom: 2%;
  }

  #userInfo {
    text-align: center;
    padding-top: 5%;
  }

  #userInfo button {
    background-color: white;
  }

  #postCreator {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    text-align: center;
  }

  .headLine {
    display: none;
  }

  #personalEmail {
    display: none;
  }

  #postCreator p {
    text-align: center;
  }

  #postCreator input[type="submit"] {
    left: 0%;
    background-color: white;
  }

  #postCreator input[type="text"] {
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 2vh;
  }

  #contentBox {
    height: 10vh;
    width: 40vw;
  }

  /* Feed Pages */

  #searchBtn {
    font-size: 1.75vh;
  }

  .feedHeader input[type="search"] {
    width: 30vh;
    text-align: center;
    background-color: rgb(255,255,245);
  }

  .feedGrid-columns {
    grid-template-columns: 40% 40%;
        padding-left: 0%;
        padding-right: 0%;
        padding-bottom: 30%;
        font-size: 3vw;
  }

  .feedGrid-rows {
    width: 100%;
    grid-template-rows: auto;
    padding: 3%;
    text-align: center;
    word-break: break-all;
  }

  .feedGrid-rows img {
    max-width: 100%;
    text-align: center;
  }

  #deleteButton {
    background-color: white;
  }

  #searchSub {
    background-color: white;
  }

  /* Events Page */

  .events-columns {
    grid-template-columns: 40% 40%;
        padding-left: 0%;
        padding-right: 0%;
        font-size: 2vw;
  }

  .events-rows {
    width: 100%;
    grid-template-rows: auto;
    padding: 4%;
    text-align: center;
    word-break: break-all;
  }

  .events-rows img {
    display: none;
  }


  /* Form Pages */

  .signInForms {
    grid-template: 26vh 50vh 0vh / 8% 68% 0%;
  }

  .signInForms h2 {
    padding-top: 22%;
  }

  .formBox {
    padding-top: 14%;
  }

  .formBox input {
    background-color: white;
    margin-bottom: 1.5%;
  }

  .formBox button {
    position: relative;
    background-color: white;
  }

  #infoText {
    font-size: 1.5vh;
  }

  #infoText a {
    padding-bottom: 5%;
  }

  /* Passcode Screen */

  #container {
    grid-template: 12vh 65vh 0vh / 0% 81% 0%;
  }

  .btns {
    padding: 3%;
  }

  #passcode input {
    font-size: 1.5vh;
  }

}

@media only screen
and (min-device-width : 411px)
and (max-device-width : 736px) { /* Layout */

  #nav {
    right: -3vw;
    width: 20%;
  }

  #nav ul {
    padding-left: 25%;
    padding-right: 5%;
    list-style-type: none;
  }

  .btnText {
    font-size: 0.75vw;
    color: var(--inactive);
    padding-right: 0.1%;
  }

  #mainContent {
    padding-bottom: 10%;
  }

  footer {
    bottom: -1px;
    height: 10%;
    padding-left: 5%;
  }

  /* Personal Page */

  .personalGrid {
    grid-template: 0% 50% 0% / 72%;
    padding-left: 12%;
    padding-bottom: 2%;
  }

  #userInfo {
    text-align: center;
    padding-top: 5%;
  }

  #userInfo button {
    background-color: white;
  }

  #postCreator {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    text-align: center;
  }

  .headLine {
    display: none;
  }

  #personalEmail {
    display: none;
  }

  #postCreator p {
    text-align: center;
  }

  #postCreator input[type="submit"] {
    left: 0%;
    background-color: white;
  }

  #postCreator input[type="text"] {
    margin-bottom: 2%;
    margin-top: 2%;
    font-size: 2vh;
  }

  #contentBox {
    height: 10vh;
    width: 40vw;
  }

  /* Feed Pages */

  #searchBtn {
    font-size: 1.75vh;
  }

  .feedHeader input[type="search"] {
    width: 30vh;
    text-align: center;
    background-color: rgb(255,255,245);
  }

  .feedGrid-columns {
    grid-template-columns: 40% 40%;
        padding-left: 0%;
        padding-right: 0%;
        padding-bottom: 30%;
        font-size: 3vw;
  }

  .feedGrid-rows {
    width: 100%;
    grid-template-rows: auto;
    padding: 3%;
    text-align: center;
    word-break: break-all;
  }

  .feedGrid-rows img {
    max-width: 100%;
    text-align: center;
  }

  #deleteButton {
    background-color: white;
  }

  #searchSub {
    background-color: white;
  }
  /* Events Page */

  .events-columns {
    grid-template-columns: 40% 40%;
        padding-left: 0%;
        padding-right: 0%;
        font-size: 2vw;
  }

  .events-rows {
    width: 100%;
    grid-template-rows: auto;
    padding: 4%;
    text-align: center;
    word-break: break-all;
  }

  .events-rows img {
    display: none;
  }


  /* Form Pages */

  .signInForms {
    grid-template: 26vh 50vh 0vh / 8% 68% 0%;
  }

  .signInForms h2 {
    padding-top: 22%;
  }

  .formBox {
    padding-top: 14%;
  }

  .formBox input {
    background-color: white;
    margin-bottom: 1.5%;
  }

  .formBox button {
    position: relative;
    background-color: white;
  }

  #infoText {
    font-size: 1.5vh;
  }

  #infoText a {
    padding-bottom: 5%;
  }

  /* Passcode Screen */

  #container {
    grid-template: 12vh 65vh 0vh / 0% 81% 0%;
  }

  .btns {
    padding: 3%;
  }

  #passcode input {
    font-size: 1.5vh;
  }

}
