:root {
--inactive:  rgb(87,87,87);
}

 #nav {
  background-color: black;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  padding-right: 2%;
}

#nav i {
  color: var(--inactive);
  font-size: 5vh;
  margin-bottom: 1%;
}

#nav i:hover {
    color: white;
}

#nav ul {
  list-style-type: none;
}

footer {
  color: var(--inactive);
  background-color: black;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-indent: 5%;
}

html {
  padding: 1%;
  background-color: rgb(186,173,255);
  color: rgb(62,51,255);
}
html a {
  text-decoration: none;
  color: rgb(250,39,66);
}

.feedGrid {
display: grid;

}
